.be-container1 {
    width: 1000px;
    height: 100px;
    margin: 0px auto;
   
}

.be-container2 {
  width: 1000px;
  height: 250px;
  background-image: url(Images/our-vision.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 500px;
    height: 0px;
    color: white;
    margin: 0px;
    padding: 30px;
    
  }
}

.be-container3 {
  width: 1000px;
  height: 420px;
  background-color: white;
  margin-top: 100px;

  h5 {
    color: rgb(3, 3, 88);
    width: 400px;
    padding: 20px;
    height: 0px;
    font-size: small;
  }
  h2 {
    color: rgb(3, 3, 88);
    padding: 20px;
    width: 385px;
    margin-top: -25px;
    font-size: x-large;
  }
}

.be-container4 {
  width: 1000px;
  height: 320px;
  background-image: url(Images/con4-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
}

.be-container5 {
  width: 1000px;
  height: 500px;
  background-color: white;
}
.be-container6 {
  width: 1000px;
  height: 600px;
  margin: 0px auto;
  background-color:rgb(245, 242, 242) ;
  background-image: url(Images/benifits-bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;

  h5 {
    color: white;
    width: 400px;
    padding: 20px;
    height: 0px;
    margin-top: -30px;
   
  }
  .be-container6__para {
    color: #fff;
    padding: 20px;
    width: 270px;
    margin-top: -25px;
    height: 0px;
    
  }

}
.be-container6__section {
  display: flex;
  margin: 70px;
  margin-left: 80px;
  margin-top: 185px;
  background-color: white;
  height: 290px;

  &--paragraph {
    color: #000; height: 100px;
    width: 140px;
    margin-top: 20px;
    
  }
 &__new-card {
  margin: 30px;
 }
  &__new-header {
    margin: 30px;
    margin-left: -4px;
    width: 159px;
    font-size: smaller;
  }
}

.be-container7 {
  width: 1000px;
  height: 370px;
  background-color: rgb(245, 242, 242);

  &__head {
    color: rgb(3, 3, 88);
    padding: 25px;
  }
  &__block {
    height: 325px;
    padding: 8px;
    margin-top: -135px;
  }

  &__card {
    background-image: url(Images/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 360px;
    display: inline-block;
    margin: 2px;
    padding: 150px;
  }
}

.be-container8 {
  width: 1000px;
  height: 800px;
  background-color:rgb(0, 51, 80);

  &__para {
    padding: 5px;
    color: lightgray;
    
  }
  &__head {
    padding: 5px;
    color: white;
    margin-top: -25px;
  }
  &__mid-para {
    text-align: center;
    color: gray;
    margin-left: 100px;
    margin-top: -50px;
  }
}
.be-container9 {
  width: 1000px;
  height: 400px;
  background-color: gray;
  margin-top: -30px;
  
}

.be-container10 {
  width: 1000px;
  height: 200px;
  background-image:url(Images/bx-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: -20px;
}
.be-container11 {
  width: 1000px;
  height: 200px;
  margin-top: 60px;
  background-color: rgb(1, 1, 43);
}

@mixin desktop{
  @media screen and (min-width: 1000px) and (max-width: 1500px){
    @content;
  }
}

@mixin mobile{
  @media screen and (min-width: 50px) and (max-width:768px){
      @content;
  }
}

@mixin tablet{
  @media screen and (min-width: 769px) and (max-width: 1000px){
    @content;
  }
}










  